html{

}

body{
  background-color: black;
  font-family: helvetica, sans-serif;
  color: seashell;
  opacity: 0.9;
  font-size: 22px;
  text-align: center;
  margin: 0;
}

header{
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
  height: 69px;
}

header img {
  max-height: 50px;
  margin-top: 10px;
  margin-left: 10px;
  color: inherit;
}

header nav{
  display: flex;
  align-items: flex-end;
}

header nav a{
  padding: 20px 20px;
  color: inherit;
  font-family: inherit;
}

.missioncontainer{
display: flex;
justify-content: center;
}

.mission{
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.missiontext {
  background-color: black;
  margin:auto;
  width: 100%;
}

.missiontext h2, h4{
padding: 5px;
margin: 5px;
}
